*~
Rules.depend
zlib/Makefile

*.o
*.so
*.dll
*.exe
*.a
zlib/example
zlib/minigzip
.vs/jk-botti/v16/ipch/AutoPCH/d7def043baae7da1/BOT.ipch
.vs/jk-botti/v16/ipch/AutoPCH/cbc0f774b444794e/ENGINE.ipch
.vs/jk-botti/v16/ipch/AutoPCH/ae1930365a640be8/BOT_COMBAT.ipch
.vs/jk-botti/v16/ipch/AutoPCH/a3fb1583a613d321/BOT.ipch
.vs/jk-botti/v16/ipch/AutoPCH/92e302ae29c463b1/BOT.ipch
.vs/jk-botti/v16/ipch/AutoPCH/91ea31243a4c4720/BOT_QUERY_HOOK.ipch
.vs/jk-botti/v16/ipch/AutoPCH/7d411a2b8408933d/BOT_SOUND.ipch
.vs/jk-botti/v16/ipch/AutoPCH/5c0a3068e3e025a1/BOT_NAVIGATE.ipch
.vs/jk-botti/v16/ipch/AutoPCH/5aadb7f0c97dc156/GENETICALG.ipch
.vs/jk-botti/v16/ipch/AutoPCH/59c5ebfed7c8cc8c/DLL.ipch
.vs/jk-botti/v16/ipch/AutoPCH/35bcce1bca706f27/BOT_CLIENT.ipch
.vs/jk-botti/v16/ipch/AutoPCH/34741233e76b1ebc/COMMANDS.ipch
.vs/jk-botti/v16/ipch/AutoPCH/255e2304102b510f/BOT_SKILL.ipch
.vs/jk-botti/v16/ipch/AutoPCH/210c9e957f30ddb9/BOT_CONFIG_INIT.ipch
.vs/jk-botti/v16/ipch/AutoPCH/19e373f27dd5652c/SAFE_SNPRINTF.ipch
.vs/jk-botti/v16/ipch/AutoPCH/17649a64d5ac6cb2/BOT_MODELS.ipch
.vs/jk-botti/v16/ipch/AutoPCH/16d667f9c7d3a134/UTIL.ipch
.vs/jk-botti/v16/ipch/AutoPCH/152523ac27e46958/BOT_CHAT.ipch
.vs/jk-botti/v16/ipch/AutoPCH/14c77a749aae0835/NEURALNET.ipch
.vs/jk-botti/v16/Browse.VC.opendb
.vs/jk-botti/v16/Browse.VC.db
.vs/jk-botti/v16/.suo
bot_query_hook_win32.cpp.PVS-Studio.cfg
bot_query_hook_win32.cpp.PVS-Studio.cmd
bot_query_hook_win32.PVS-Studio.i
*.log
Makefile-PVS
PVS-Studio.cfg
Release/bot_query_hook_linux.obj
Release/jk-botti.tlog/CL.command.1.tlog
Release/jk-botti.tlog/CL.read.1.tlog
Release/jk-botti.tlog/CL.write.1.tlog
Release/jk-botti.tlog/jk-botti.lastbuildstate
Release/jk-botti.tlog/unsuccessfulbuild
Release/safe_snprintf.obj
Release/vc142.pdb
.vs/jk-botti/v16/ipch/AutoPCH/452fab92dc351b9f/BOT_WEAPONS.ipch
*.ipch
.vs/jk-botti/v16/Browse.VC.db-wal
.vs/jk-botti/v16/Browse.VC.db-shm
